.loader {
  /*width: 48px;
  height: 48px;
  border: 5px solid #3e3e3e;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;*/
  /*animation: rotation 3s linear infinite;*/
  position: relative;
  height: 48px;
  width: 48px;
  display: inline-block;
}

.loader:after {
  content: "";
  background-image: url("https://github.com/tbleuse.png");
  background-position: 0 -3px;
  background-size: 48px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
}

.star {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.star::before {
  position: absolute;
  top: 5%;
  right: 5%;
  content: "";
  background-color: grey;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 30%;
  width: 30%;
  max-width: 50px;
  max-height: 50px;
}

.star:hover {
  opacity: 50%;
}

.star.active::before {
  background-color: orange;
}

header {
  margin-bottom: 0;
  padding-bottom: 0;
}

header nav {
  margin-bottom: 0;
}

main {
  padding-top: 1rem;
}

/* Seatch input */

@import "bourbon";

$search-input-height: 50px;
$search-input-padding: 0px 20px;
$search-font-size: 20px;
$search-line-height: 1;
$search-input-icon-size: $search-font-size*$search-line-height;
$background-color: #006fc2;
$search-background: lighten($background-color, 35%);
$search-background-active: lighten($background-color, 20%);
$search-color: #fff;
$search-btn-active: $background-color;

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

* {
  @include box-sizing(border-box);
}

body {
  background-color: $background-color;
}

input[type="search"] {
  @include box-sizing(border-box);
}

.searchbox-container {
   margin: 0 auto;
   height: $search-input-height;
   display: inline-block;
}

.searchbutton, .searchbox {
  @include appearance(none);
  @include box-sizing(border-box);
  @include transition(background-color, .3s);
  font-size: $search-font-size;
  line-height: $search-line-height;
  color: $search-color;
  border-radius: 0;
  float: left;
  border: none;
  height: $search-input-height;
  outline: none;
  background: $search-background;
}

input[type="search"] {
    border-radius: 0;
    -webkit-appearance: none;
}

.searchbox {
  padding: $search-input-padding;
  
  &:focus, &:hover {
    background-color: $search-background-active;
    + .searchbutton {
      background-color: $search-background-active;
    }
  }

  @include input-placeholder {
    color: $search-color;
    font-style: italic;
  }
}

.searchbutton {
  width: 50px;
  padding: 0;
  text-align: center;
  
  &:hover, &:focus {
    color: $search-btn-active;
  }
  &:active {
    color: darken($search-btn-active, 20%);
  }
}

html, body, section { width: 100%; height: 100%; }

.example {
 width: 100%;
 position: absolute;
 top: 40%;
 text-align: center;
}